<div class="w-64 bg-gray-700 h-screen text-white">
  <div class="grid grid-cols-1">
    <app-icon-button circleColor="pink" text="未対応" [count]="2"></app-icon-button>
    <app-icon-button circleColor="blue" text="処理中"></app-icon-button>
    <app-icon-button circleColor="teal" text="処理済み"></app-icon-button>
    <app-icon-button circleColor="red" text="受入" [count]="1"></app-icon-button>
    <app-icon-button circleColor="yellow" text="受入済"></app-icon-button>
    <app-icon-button circleColor="cyan" text="完了"></app-icon-button>
  </div>
</div>
