<div class="container-fluid p-5">
  <div class="row mb-5">
    <div class="grid">
      <div class="custom">
        <div>カテゴリー</div>
        <input type="text" />
      </div>
      <div class="custom">
        <div>登録日</div>
        <input type="text" />
      </div>
      <div class="custom">
        <div>担当者</div>
        <input type="text" />
      </div>
      <div class="custom">
        <div>マイルストーン</div>
        <input type="text" />
      </div>
      <div class="custom">
        <div>優先度</div>
        <input type="text" />
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of data" class="col-md-4 mb-3">
      <app-work-card></app-work-card>
    </div>
  </div>
</div>
