<div class="card p-3 simplegrid" [ngClass]="getClass()">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-row align-items-center">
      <div class="icon">
        <img
          src="https://avatars.dicebear.com/api/adventurer/your-custom-seed.svg"
        />
      </div>
      <div class="ms-2 user-details">
        <div class="mb-0">Sayed Rafi / サイド ラフィ</div>
        <div>2022-03-08 | 12:25:42</div>
      </div>
    </div>
    <div
      class="badge"
      [ngStyle]="{
        'background-color': badgeBackgroundColor,
        color: badgeTextColor
      }"
    >
      <span>{{ badgeText }}</span>
    </div>
  </div>
  <div>
    <h3 class="heading">
      マイサロン会員詳細画面の中に購入履歴を確認できる部分を作成する
    </h3>
  </div>
  <div>
    <div class="row details">
      <a class="col details-link" href="#">担当者: Sayed Rafi (ラフィ)</a>
      <a class="col details-link" href="#">マイルストーン: 2022.4</a>
    </div>
    <div class="row details">
      <a class="col details-link" href="#">優先度: 中</a>
      <a class="col details-link" href="#">Code: ALO-4953</a>
    </div>
  </div>
</div>
