/* 'gray', 'blue', 'red', 'pink', 'purple', 'yellow', 'green', 'indigo', 'teal', 'cyan' */
.bg-gray-500 {
    background-color: #6b7280;
}
.bg-blue-500 {
    background-color: #0ea5e9;
}
.bg-red-500 {
    background-color: #ef4444;
}
.bg-pink-500 {
    background-color: #ec4899;
}
.bg-purple-500 {
    background-color: #a855f7;
}
.bg-yellow-500 {
    background-color: #f59e0b;
}
.bg-green-500 {
    background-color: #22c55e;
}
.bg-indigo-500 {
    background-color: #6366f1;
}
.bg-teal-500 {
    background-color: #10b981;
}
.bg-cyan-500 {
    background-color: #06b6d4;
}